.headerWrapper {
    position: fixed;
    top: 0;
    width: 100%;
}
.headerWrapper {
    color: #fff;
    z-index: 999;
    transition: .25s padding-top ease-in-out,.25s padding-bottom ease-in-out;
    background: 0 0;
}
header .navbar {
    display: flex;
    clear: both;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    background: #222;
    width: 100%;
    padding: 0 5px 0 5px;
}
header .navbar .nav-item a.active:before {
    left: 10px;
    right: 10px;
    background: #dc3545;
}
header .navbar .nav-item a.active {
    color: white;
}
header .navbar a {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 100%;
    padding: 15px 6px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #CCC;
}
header .navbar a {
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
}
 header .navbar ul {
    list-style: none;
    margin-bottom: 0;
}
header .navbar li {
    display: block;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: #333 solid 1px;
}
header .navbar {
    font-size: 0;
    font-weight: 500;
    text-align: center;
}
header .navbar .contact-me {
    background: #17a2b8;
    border-radius: 5px;
}
.App-logo {
    width: 70px;
    height: 20%;
    background: #1d212400;
    border-radius: 50%;
    margin: 0;
}

img.App-logo {
    border-radius: 50%;
    transition: transform 2s ease-in-out;
}
img.App-logo:hover {
    transform: rotateY(360deg);
    border: 3px solid red;
}

@media screen and (min-width: 320px) {
    header .navbar .nav-item a:hover:before {
        bottom: 5px;
    }
}
@media screen and (min-width: 721px) {
    header .navbar li {
        width: auto;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        border: none;
    }
    header .navbar .nav-item a.active:before {
        left: 8px;
        right: 8px;
    }
    header .navbar .nav-item a:hover:before {
        left: 8px;
        right: 8px;
    }
    header .navbar {
        clear: none;
        display: flex;
        position: relative;
        top: 0;
        float: right;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        background: none;
    }
    header .navbar .nav-item a:before {
        content: " ";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 5px;
        height: 2px;
        /* background: rgb(11, 54, 117); */
        transition-duration: 0.3s;
        transition-property: left, right;
    }
    header .navbar .nav-item a:hover:before {
        background: #23599a;
    }
    header .navbar .nav-item a.active:hover:before {
        background: #dc3545;
    }
    header .navbar a {
        padding: 15px 8px;
        color: white;
        font-size: 12px;
    }
}
@media screen and (min-width: 841px) {
    header .navbar .nav-links .nav-item a.active:before {
        left: 12px;
        right: 12px;
    }
    header .navbar a {
        padding: 15px 12px;
        font-size: 13px;
    }
}
@media (max-width: 720px) {
    header #navbar-nav_menu {
        display: none;
    }
    header .navbar {
        background: transparent;
        border-bottom: none;
        margin-left: 0;
        margin-top: 0;
    }
    header .navbar li {
        display: inline-block;
        width: auto;
    }
    .hamburger-menu {
        position: absolute;
        align-self: center;
        left: 80px;
        font-size: 2em;
        color: #ffc107;
    }
    .hamburger-menu .mdi:before {
        font-size: xx-large;
    }
}