/* .App {
  text-align: center;
}
.App-logo2 {
    /* position: relative;
    top: 0px; 
    width: 25%;
    height: 20%;
    /* border-radius: 50%; 
    pointer-events: none;
}

#logo-1 {
    align-self: center;
    transition-delay: 5s;
    transition-timing-function: ease-in-out;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: #1f262d;
  max-height: 12vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.headerWrapper {
    position: relative;
    color: #fff;
    /* background: linear-gradient(to bottom,#2b71b7,#05386b); */
    background: linear-gradient(to bottom,#1d2124,#17a2b8);
    background-attachment: fixed;
}

.App-logo {
    /* position: relative; */
    top: 45px; 
    width: 100px;
    height: 20%;
    background: #1d212400;
    border-radius: 50%;
    pointer-events: none;
}

.header-inner {
    position: relative;
    background-attachment: fixed;
    height: 430px;
    padding: 60px 0;
    z-index: 5;
}

.header-divider {
    position: relative;
}

.header-divider:after {
    content: " ";
    right: 0;
    bottom: -280px;
    opacity: 1;
    left: 0;
    height: 300px;
    position: absolute;
    z-index: 0;
    /* background-position: center top; */
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNjc5IDE5OC42Jz48cGF0aCBkPSdNODM5LjUgOTYuN0M0ODUuMyA5Ni43IDE3NC41IDU3LjkgMCAwdjE5OC42aDE2NzlWMGMtMTc0LjUgCTU3LjktNDg1LjMgOTYuNy04MzkuNSA5Ni43eicgZmlsbD0nI2ZmZicvPjwvc3ZnPg==);
}

.header-inner:after {
    content: " ";
    right: 0;
    bottom: -50px;
    opacity: .1;
    left: 0;
    height: 150px;
    position: absolute;
    z-index: 0;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+);
}

.headerWrapper:after {
    content: " ";
    right: 0;
    bottom: 0;
    opacity: 1;
    left: 0;
    height: 150px;
    opacity: .1;
    position: absolute;
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScwLjc1JyBkPSdNMCwzMkw2MCw1My4zQzEyMCw3NSwyNDAsMTE3LDM2MCwxNDRDNDgwLDE3MSw2MDAsMTgxLDcyMCwxNjBDODQwLDEzOSw5NjAsODUsMTA4MCw4MEMxMjAwLDc1LDEzMjAsMTE3LDEzODAsMTM4LjdMMTQ0MCwxNjBMMTQ0MCwzMjBMMTM4MCwzMjBDMTMyMCwzMjAsMTIwMCwzMjAsMTA4MCwzMjBDOTYwLDMyMCw4NDAsMzIwLDcyMCwzMjBDNjAwLDMyMCw0ODAsMzIwLDM2MCwzMjBDMjQwLDMyMCwxMjAsMzIwLDYwLDMyMEwwLDMyMFonPjwvcGF0aD48L3N2Zz4=);
}
h1.intro {
    font-size: 3.875rem;
    font-family: "Philosopher", 'sans-serif';
    font-weight: 400;
}

.locale p#bio-text {
    font-size: 1.699rem;
    font-weight: 200;
    color: #dee2e6;
    line-height: 1.3;
    font-family: "Montserrat", 'sans-serif';
}

/* h1 p:before{
    content: 'Hi';
    animation-name: head;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% {opacity:1;}
    20% {opacity:0;}
    40% {opacity:1;}
    60% {opacity:0; content: "Guten Tag"}
    70% {opacity:0;}
    80% {opacity:1; content: "Bonjour"}
    90% {opacity:0;}
    100% {opacity:1; content: "Hi"}
} */