
.main-header {
    color: #fff;
    z-index: 100;
    transition: .25s padding-top ease-in-out,.25s padding-bottom ease-in-out;
    background: 0 0;
}
.main-header {
    position: relative;
    color: #fff;
    /* background: linear-gradient(to bottom,#2b71b7,#05386b); */
    background: linear-gradient(to bottom,#1d2124,#17a2b8);
    background-attachment: fixed;
}

.main-inner {
    position: relative;
    background-attachment: fixed;
    padding: 200px 0;
    z-index: 5;
}

.main-divider {
    position: relative;
}

.main-divider:after {
    content: " ";
    right: 0;
    bottom: -328px;
    opacity: 1;
    left: 0;
    height: 300px;
    position: absolute;
    z-index: 0;
    /* background-position: center top; */
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNjc5IDE5OC42Jz48cGF0aCBkPSdNODM5LjUgOTYuN0M0ODUuMyA5Ni43IDE3NC41IDU3LjkgMCAwdjE5OC42aDE2NzlWMGMtMTc0LjUgCTU3LjktNDg1LjMgOTYuNy04MzkuNSA5Ni43eicgZmlsbD0nI2ZmZicvPjwvc3ZnPg==);
}

.main-inner:after {
    content: " ";
    right: 0;
    bottom: 17px;
    opacity: .1;
    left: 0;
    height: 150px;
    position: absolute;
    z-index: 0;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+);
}

.main-header:after {
    content: " ";
    right: 0;
    bottom: 20px;
    opacity: 1;
    left: 0;
    height: 150px;
    opacity: .1;
    position: absolute;
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScwLjc1JyBkPSdNMCwzMkw2MCw1My4zQzEyMCw3NSwyNDAsMTE3LDM2MCwxNDRDNDgwLDE3MSw2MDAsMTgxLDcyMCwxNjBDODQwLDEzOSw5NjAsODUsMTA4MCw4MEMxMjAwLDc1LDEzMjAsMTE3LDEzODAsMTM4LjdMMTQ0MCwxNjBMMTQ0MCwzMjBMMTM4MCwzMjBDMTMyMCwzMjAsMTIwMCwzMjAsMTA4MCwzMjBDOTYwLDMyMCw4NDAsMzIwLDcyMCwzMjBDNjAwLDMyMCw0ODAsMzIwLDM2MCwzMjBDMjQwLDMyMCwxMjAsMzIwLDYwLDMyMEwwLDMyMFonPjwvcGF0aD48L3N2Zz4=);
}
h1.intro {
    font-size: 2.175rem;
    font-family: "Philosopher", 'sans-serif';
    font-weight: 400;
}

.locale p#bio-text {
    font-size: 1.287rem;
    font-weight: 200;
    color: #dee2e6;
    line-height: 1.3;
    font-family: "Montserrat", 'sans-serif';
    margin-bottom: 5rem;
}

h1 p:before{
    content: 'Hi, ';
    animation-name: head;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@keyframes head {
    2% { opacity: 0.5}
    7% { opacity: 0;}
    25% { opacity: 1; content: "Moin, "}
    27% { opacity: 0.5;}
    32% { opacity: 0;}
    50% { opacity: 1; content: "Kon'nichiwa, "}
    52% { opacity: 0.5;}
    57% { opacity: 0;}
    75% { opacity: 1;  content: "Salut, "}
    77% { opacity: 0.5;}
    82% { opacity: 0;}
    100% {opacity: 1;}
}

h1 p span:before{
    content: "I'm Timothy.";
    animation-name: tail;
    color: #e75fe8;
    animation-duration: 40s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes tail {
    2% { opacity: 0.5;}
    7% { opacity: 0;}
    25% { opacity: 1; content: "ich bin Timothy."; color: #e68a28;}
    27% { opacity: 0.5;}
    32% { opacity: 0;}
    50% { opacity: 1; content: "watashi wa timoshīdesu."; color: #f53a4c;}
    52% { opacity: 0.5;}
    57% { opacity: 0;}
    75% { opacity: 1;  content: "je suis Timothy."; color: yellow;}
    77% { opacity: 0.5;}
    82% { opacity: 0;}
    100% {opacity: 1;}
}

.main {
    background: #fff;
    z-index: 0;
    /* box-shadow: 0 0 10px rgba(0,0,0,.25); */
}

.hashes {
    position: relative;
    /* top: -80px; */
    z-index: 101;
    /* padding-top: 90px; */
}
.main-divider a {
    padding-top: 60px;
}
.main-divider a:hover {
    color: #ffc107a1;
}

.main-divider a {
    position: absolute;
    bottom: -90px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #ffc107;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.main-divider a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.main-divider a span:hover {
    border: 1px solid #ffc107;
}

.main-divider a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
@media (max-width: 768px) {
    h1.intro {
        font-size: 1.57rem;
    }
    .locale p#bio-text {
        font-size: 1.157rem;
    }
}

/* @media (max-width: 991.98px) {
    .hashes {
        padding-top: 10px;
    }
} */

